.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 1rem;
  height: calc(100% - 1.5rem - 1.5rem);
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #191919;
  scroll-behavior: smooth;
}

.status {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  height: 1.5rem;
  color: black;
  background-color: #676767;
}

.card {
  line-height: 1.4;

  h2 {
    font-size: 16px;
    font-weight: inherit;
    margin: 0;
    color: burlywood;
  }

  a {
    color: inherit;
  }

  & > * {
    margin-bottom: 0.5rem;

    &:empty {
      display: none;
    }
  }
}

.image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  width: 80px;
  height: 80px;
  background-color: #333;
  object-fit: cover;
  object-position: top center;
}

.info {
  color: skyblue;
}

.brief {
  font-family: sans-serif;
  display: -webkit-box;
  clear: both;
  margin: 0 0 0.5rem;
  max-height: 200px;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  &:hover {
    overflow-y: auto;
  }
}

.raw,
.default {
  line-height: 1.3;
  clear: both;
  max-height: calc(12em * 1.2);
  overflow: hidden;
  color: silver;

  &:hover {
    overflow-y: auto;
  }

  .key {
    opacity: 0.7;
  }

  .array {
    display: inline-block;
    padding-left: 0.5rem;
    border-left: 1px solid rgba(white, 0.1);

    & > div {
      display: inline-block;
      margin-right: 0.5rem;
      border-bottom: 1px dotted rgba(white, 0.1);

      & > div {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }
}

.raw {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(white, 0.1);
}

.error {
  color: crimson;
}
