.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    'g1 g5 g5 g5 g6 g6'
    'g2 g5 g5 g5 g6 g6'
    'g2 g5 g5 g5 g7 g8'
    'g3 g5 g5 g5 g7 g8'
    'g4 g5 g5 g5 g9 g9';
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  grid-template-rows: repeat(5, minmax(5px, 1fr));
  height: calc(100vh);

  & > * {
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        grid-area: g#{$i};
      }
    }
  }
}
