.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    'g6 g3 g3 g3 g4'
    'g1 g3 g3 g3 g4'
    'g1 g3 g3 g3 g5'
    'g2 g3 g3 g3 g7'
    'g8 g3 g3 g3 g7';
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  grid-template-rows: repeat(5, minmax(5px, 1fr));
  height: calc(100vh);

  & > * {
    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        grid-area: g#{$i};
      }
    }
  }
}
