.textarea {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;
  tab-size: 1;
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: skyblue;
  background-color: #191919;
  border: none;
  resize: none;
}
