.textarea {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;
  tab-size: 1;
  display: block;
  padding: 1rem;
  width: 100%;
  height: calc(100% - 50%);
  overflow-x: hidden;
  overflow-y: scroll;
  color: skyblue;
  background-color: #333;
  border: none;
  resize: none;
}

.controls {
  padding: 1rem;
  height: 50%;
  background-color: #676767;
}
