.title {
}

.container {
  font-size: 14px;
  padding: 0.5rem;
  height: calc(100% - 1.5rem - 2rem);
  overflow-y: auto;
  background-color: #191919;

  & > * {
    line-height: 1;
    margin-bottom: 0.4rem;
  }

  a {
    text-decoration: none;

    .id {
      color: brown;
    }
    .desc {
      opacity: 0.5;
    }

    &:hover {
      .id {
        color: red;
      }
      .desc {
        opacity: 0.7;
      }
    }
  }
}

.tools {
  line-height: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  height: 2rem;
  background-color: #333;

  & > span {
    line-height: 1rem;
    padding: 0 0.5rem;
    background-color: brown;
    cursor: pointer;
  }
}
