.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  p {
    margin: 0;
  }
}

.logo {
  font-size: 28px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 1;
  color: burlywood;
}
