.container {
  font-size: 34px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  color: white;
  opacity: 0.2;
}

.logo {
}
